<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms and Conditions</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/contact-style.css' %}" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div id="common-header"></div>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>TERMS AND CONDITIONS</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Terms and Conditions</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- T&C Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="w3-row">
                <div><h3>TERMS AND CONDITIONS</h3></div>
            </div>
            <div class="w3-row">
                <div class="w3-margin-top">
                    Terms and Conditions for Farmitro e-commerce typically include clauses that give a business the right to terminate an account with a customer if certain conditions aren't met or if violations occur, and that limit the way a customer can interact with the business.
                    We typically allow customers to create accounts on your website for quicker online shopping, order management and tracking, and things like loyalty and rewards points for shopping regularly.
                </div>
            </div>


        </div>
    </section>
    <!-- T&C Section End -->


    <!-- Footer Section Begin -->
        <footer class="footer spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__about__logo">
                                <a href="./index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
                            </div>
                            <ul>
                                <li>Address: 18, Gurunanak Colony, Near Lalbagh, Indore</li>
                                <li>Phone: +91 9926017710</li>
                                <li>Email: piyushlalwani143@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                        <div class="footer__widget">
                            <h6>Useful Links</h6>
                            <ul>
                                <li><a href="/user/policies/">Our Policies</a></li>
                                <li><a href="/user/terms/">Terms and Conditions</a></li>
                                <li><a href="/user/contact/">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__widget">
                            <h6>Join Our Newsletter Now</h6>
                            <p>Get E-mail updates about our latest shop and special offers.</p>
                            <form action="#">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit" class="site-btn">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__copyright">
                            <div class="footer__copyright__text"><p>
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a target="_blank">KissanMart</a></p></div>
                            <div class="footer__copyright__payment"><img src="{%static 'BuyerUI/img/payment-item.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
        <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'BuyerUI/js/header-main.js' %}"></script>
    <script src="{% static 'js/sign-main.js' %}" async></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'BuyerUI/js/header-main.js' %}"></script>
    <script src="{% static 'js/contact-main.js' %}"></script>



</body>

</html>