<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<span>

    <div class="w3-contanier">
        <div class="w3-row">
            <div class="w3-card w3-col s3">
                <h2><b>SELLER </b>Approve Deals</h2><a href="approveSellerDeals/">Link</a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-card w3-col s3">
                <h2><b>BUYER </b>Approve Deals </h2><a href="getBuyerRequests/">Link</a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-card w3-col s3">
                <h2><b>ORDERS</b></h2>
                <a href="getOrders/">Link</a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-card w3-col s3">
                <h2>All Seller Deals</h2>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-card w3-col s3">
                <h2>All Buyer Deals</h2>
            </div>
        </div>
    </div>


    <span><h2>- </h2></span>
    <span></span>
    <span><h2> - </h2></span>
    <span><h2></h2></span>

</body>
</html>