<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="UI Template">
    <meta name="keywords" content="Kissan, mart, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KissanMart</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/w3.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'BuyerUI/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
</head>

<body>
    <!--    overlay-->
    <div class="overlay"></div>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div id="common-header">

    </div>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="hero__item set-bg" data-setbg="{% static 'img/hero/banner.jpg' %}">
                            <div class="hero__text">
                                <span>100% Original</span>
                                <h2>Quality Products</h2>
                                <h4>For Enquiry +91992617710</h4>
                                <p>Delivery Available</p>
                                <a href="#" class="primary-btn">SHOP NOW</a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </section>

    <!-- Featured Section Begin -->
    <section class="featured spad w3-margin-top">
        <div class="container">
            <div class="w3-row">
                <div class="w3-col l12">
                    <div class="section-title">
                        <h2>Top Products</h2>
                    </div>
                </div>
            </div>
            <div class="row featured__filter" id="products_container">
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Buying Form Start-->
    <div class="w3-container w3-display-middle w3-mobile buying-info-container w3-hide" id="input_buy_details_container">
        <div class="w3-card">
            <div class="w3-right close-div"><button onclick="hideBuyDetailsContainer()"><i class="fa fa-times" aria-hidden="true"></i></button></div>
            <div class="w3-padding-16 w3-border w3-margin-top" style="background-color: #ffffff;">
                <form name="order_request_form" id="buying_product_details" class="w3-container my-forms" onsubmit="placeBuyRequest();">
                    {% csrf_token %}
                    <label class="w3-text"><b>Product Name</b></label>
                    <input class="w3-input w3-border w3-round-large" type="text" id="product-name-input" name="" value="" readonly disabled/>
                    <input type="hidden" id="product-id-input" name="" value=""/>


                    <div class="w3-row">
                        <div class="w3-col l9 m9 s9">
                            <label class="w3-text" style="margin-bottom: 0px !important;"><b>Quantity</b></label>
                            <input class="w3-input w3-border w3-round-large" type="text" name="quantity" pattern="^[1-9][0-9]*(\.\d{1,2})?\s*" placeholder="Enter Purchase Quantity" title="Only positive numbers with two decimal places are excepted" required/>
                        </div>
                        <div class="w3-col l3 m3 s3">
                            <label class="w3-text" style="margin-bottom: 0px !important;"><b>Units</b></label>
                            <input class="w3-input w3-border w3-round-large" type="text" id="product_unit_input" name="unit" disabled/>
                        </div>
                    </div>
                    <input type="submit" class="w3-round-xlarge buy-button" value="REQUEST ITEM"/>
                </form>
            </div>
        </div>
    </div>

    <!-- Buying Form End-->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 18, Gurunanak Colony, Near Lalbagh, Indore</li>
                            <li>Phone: +91 9926017710</li>
                            <li>Email: piyushlalwani143@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a target="_blank">KissanMart</a></p></div>
                        <div class="footer__copyright__payment"><img src="{%static 'BuyerUI/img/payment-item.png' %}" alt=""></div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Loader -->
    <div id="myLoader"></div>

    <!-- Alert Box Start-->
    <div class="w3-container w3-display-middle w3-mobile alert-box w3-hide" id="alert_box_container">
        <div class="w3-card">
            <div class="w3-right close-div"><button onclick="hideAlertBoxContainer()"><i class="fa fa-times" aria-hidden="true"></i></button></div>
            <div class="w3-padding-16 w3-border w3-margin-top" style="background-color: #ffffff;">
                <h4 class="w3-center"><b>Message</b></h4>
                <div class="w3-margin-top w3-margin-bottom" id="message_container"></div>
                <h6 class="w3-center"><b>Happy Trading</b><i class="fa fa-grin"></i></h6>
            </div>
        </div>
    </div>
    <!-- Alert Box End-->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'BuyerUI/js/main.js' %}"></script>
    <script src="{% static 'BuyerUI/js/order-request.js' %}"></script>
    <script src="{% static 'token.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'BuyerUI/js/header-main.js' %}"></script>
    <script src="{% static 'js/sign-main.js' %}" async></script>
    <script src="{% static 'js/sweetalert.min.js' %}" async></script>
    <script type="module">
        import swal from "{% static 'sweetalert/sweetalert.min.js' %}"
    </script>
</body>

</html>